/****** General FONT ***********/
* {
    font-family: 'Raleway', sans-serif;
}

/****** VARIABLES ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color); 
    font-weight: 900;   
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** General ***********/
body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin: auto;  
} 

.main-container {  
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Place les éléments en colonne */
    gap: 35px;       
    max-width: 1440px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;    
}


/**** TAILLE POLICES *****/
h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;        
    margin: 0;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 16px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


/****** CARD  *********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/*** HEADER ***/
.header-content {
    height: 79px;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;    
}

.logo-booki {
    width: 61.09px; /* Largeur fixe */
    height: 19px; /* Hauteur fixe */       
}

#menu {    
    display: flex;
    gap: 30px;
    list-style: none;            
    height: 79px;
    font-size: 16px;
}
    
#menu a {    
    color: #090021;
    text-decoration: none;
    padding: 20px 15px 20px 15px;
    display: inline-block;
}

#menu a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/*** MAIN ***/
.main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


/**** SECTION RECHERCHE ****/
/* RECHERCHE-TITLE */
.recherche {
    max-width: 1340px;
    height: 281px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.recherche-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recherche-title p {
    margin :0;
}

/* SEARCH-BAR */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 395px;
    height: 49px; 
}

.btn-loc {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px ;
    border: 2px solid #F2F2F2;
}

.btn-loc .fa-solid {
    color: black;
    width: 14px;
    height: 18px;
}

.btn-ville {
    width: 213px;
    height: 45px;    
    border: 1px solid #F2F2F2;
    cursor: pointer;
    text-align: center;   
    font-size: 18px;
    font-weight: 700;
}

.btn-ville:focus {
    outline: none;       
}

.btn-recherche {
    width: 132px;
    height: 49px;
    background-color: var(--main-color) ;
    border-color: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
    border: 2px solid #0065FC;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;    
}

.btn-loupe {
    display: none;
}

.btn-loupe .fa-solid {
    color: #ffffff;
}

/* FILTER-BAR */
.filter-bar {
    display: flex;
    flex-direction: row;   
    max-width: 758px;
    height: 50px;
    gap : 15px;
}

.filtres {
    display: flex;
    flex-direction: row;   
    max-width: 758px;
    height: 50px;
    gap : 15px;
}  

.sous-filtres :hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.sous-filtres {
    display: flex;
    flex-direction: row;  
    height: 50px;
    gap : 15px;
}

.btn-filtre {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;  /*** force du "gras" ***/  
  transition: all 0.3s ease;  
  white-space: nowrap;
  border: 1px solid #d9d9d9;
  border-radius: 25px 25px 25px 25px;
  gap: 10px;
}

/* INFO-GROUPE */
.info-groupe {
    display: flex;   
    align-items: center; 
    gap: 10px;   
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;   
    max-width: 1340px;
    gap: 40px; 
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/***** ACTIVITES A VENIR  *****/

/**** FOOTER ****/
.footer {    
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-item {
    display: flex;    ;
    flex-direction: column;    
    width: 100%;   
    padding: 20px;
    gap: 15px;
}  

.footer p {
    font-size: 16px;
    margin: 0;
}




/************************************************** Le code ci-dessous correspond à la version responsive uniquement **************************/

/****** Media queries *********** /

/* Medium devices (tablets, less/equal than 1024px)    <1024           ********         <1024            *******/
@media (max-width: 1024px) {

    /***** SECTION RECHERCHE *****/
    .recherche {
        height: 325.333px;
    } 

    .filter-bar {    
        display: flex;
        flex-direction: column;
        max-width: 668px;
        height: 91px;
        gap: 0px;
    }
    

    /****** hebergement & populaires ****/
    .hebergements-and-populaires {
        flex-direction: column;
    }

     /****** hebergement ****/
    .hebergements {
        width: 100%;
    }

    /****** populaires ****/
    .populaires {
        width: 100%;     
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card-txt {
        gap: 25px;
    }
}

/* Small devices (phones, less than 768px)   ********       <768        ****************       <768            *******/ 
@media (max-width: 767.98px) {

    /**** BODY *****/
    .main-container {  
        box-sizing: border-box;
        display: flex;
        flex-direction: column; /* Place les éléments en colonne */
        gap: 8px;  
        max-width: 100%;
        padding: 20px;
        margin:auto;      
    }

    /***** HEADER *****/
    .header-content {
        height: fit-content;
        width: 100%;    
        display: flex;        
        flex-direction: column;
        padding: 30px 0 0 0;    
        }

    #menu {                
        list-style: none;         
        font-size: 16px;
        padding: 0%;
        }
        
    #menu a {    
        color: #090021;
        text-decoration: none;        
        }


    #menu a:hover {
        color: var(--main-color);
        border-top: 2px solid var(--main-color);
    }

    /****** SECTION RECHERCHE ******/    
    .recherche {
        height: 432px;
        display: flex;
        justify-content: center;
    }

    /* SEARCH-BAR  */
    .search-bar {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 49px;
    }

    .btn-recherche {
        display: none;
    }

    .btn-loupe {
        display: inline-block;
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        width: 49px;
        height: 49px;
        background-color: var(--main-color) ;
        border-color: var(--main-color);
        border-radius: 15px 16px 15px 16px;            
    }


    /* FILTER-BAR */
    .filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  

    .filter-bar {        
        height: 161px;
        gap: 0px;
    }

    .sous-filtres {                        
        height: 50px;
        gap : 15px; 
    }

    .btn-filtre {
        background-color: white;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 700;  /*** force du "gras" ***/  
        transition: all 0.3s ease;  
        white-space: nowrap;
        border: 1px solid #d9d9d9;
        border-radius: 25px 25px 25px 25px;
        gap: 10px;
        width: 165px      
    }  

     /****** hebergement & populaires ****/
     .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    /****** SECTION HEBERGEMENTS A VENIR  *******/

    /****** SECTION POPULAIRES *******/ 
    .populaires-cards {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .populaires-cards .card {

        max-width: 100%;
    }

    .populaires-cards a {
        flex: 1 1 100%; /* 1 par ligne */
        width: 100%;
    }     

    /****** SECTION ACTIVITES A VENIR  *******/

    /***** SECTION FOOTER**** */
    .footer {    
        display: flex;
        flex-direction: column;        
    }
    
}


/* Small devices ( less than 480px)      <480           ********         <480      ********         <480           ********/
@media (max-width: 480px) {
    .main-container {  
        box-sizing: border-box;
        display: flex;
        flex-direction: column; /* Place les éléments en colonne */
        gap: 35px;       
        max-width: 375px;
        width: 100%;  
    }
}